<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8"/>

  <title>{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.title }}</title>

  <meta name="description" content="{{ page.description | default(site.description) }}"/>
  <meta name="viewport" content="width:device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
  <meta name="HandheldFriendly" content="true"/>

  <meta property="og:url" content="{{ site.url }}{{ (page.url | default("/")) | slice(-1) != '/' ? (page.url | default("/")) ~ '/' : (page.url | default("/")) }}"/>
{% if page.image %}
  <meta property="og:image" content="{{ site.url ~ page.image }}?v={{ random() }}"/>
{% else %}
  <meta property="og:image" content="{{ site.url }}/assets/avatar.jpg"/>
{% endif %}
  <meta property="og:description" content="{{ page.description | default(site.description) }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.title }}"/>

  <link rel="shortcut icon" href="{{ site.url }}/assets/avatar.jpg" type="image/png"/>
  <link rel="alternate" href="{{ site.url }}/atom.xml" type="application/atom+xml" title="Feed de atividade em {{ site.title }}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="{{ site.url }}/assets/css/estilos.css"/>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,700%7CUbuntu+Mono:400,700%7CVollkorn:400,700"/>

{% block styles %}{% endblock %}
{% block head_scripts %}{% endblock %}
</head>

<body{% if page['body-class'] %} class="{{ page['body-class'] }}"{% endif %} itemscope itemtype="http://schema.org/WebPage">
  <meta itemprop="name" content="{{ page.title | default(site.title) }}"/>
  <meta itemprop="description" content="{{ page.description | default(site.description) }}"/>

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Alternar navegação</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a href="{{ site.url }}/" class="navbar-brand menu-logo-title">
          <span class="tiago">Tiago</span>&nbsp;<span class="evangelista">Evangelista</span>
        </a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right" id="main-menu">
          <li{% if page.url == '/curriculo' %} class="active"{% endif %}><a href="{{ site.url }}/curriculo/">Currículo</a></li>
        </ul>
      </div>
    </div>
  </div>

{% block content_wrapper %}
{% block content %}
{% endblock %}
{% endblock %}

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
